
.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-primary);
}


.footerContainer {
	background: inherit;
	max-width: 1600px;  
	width: 100%; 
	margin: 0 auto;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  }
.name {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: var(--color-text-inverse);
}

.social {
	display: flex;
	color: var(--color-text-inverse);
	justify-content: flex-start;
	flex-direction: column;
}

.link {
	color: var(--color-text-inverse);
	text-decoration: none;
  }
  .link:hover {
	text-decoration: underline;
  }

