
.footer {
	display: flex;
	margin:  auto;
	padding: 1rem 2rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color:#364AB0;
	
}

.name {
	
	margin-left: 10rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: #FFFFFF;
}

.social {
	margin-right: 10rem;
	display: flex;
	color: #FFFFFF;
	justify-content: flex-start;
	flex-direction: column;
}

.link {
	color: #FFFFFF;
	text-decoration: none;
  }
  .link:hover {
	text-decoration: underline;
  }


